<div class="row">
    <div class="alert alert-danger alert-dismissible toast-message">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="d-inline-block toast-message-icon-bg ">
            <i class="fas fa-2x fa-envelope-open toast-message-icon"></i>
        </div>
        <div class="d-inline-block" style="width:90%; padding-top:10px;"><span class="toast-message-text">@ViewBag.GeneralMessage</span></div>
    </div>
</div>


